PPAI_PROJECT_NAME=ppai-test-umbrella
PPAI_ENV=local
PPAI_BASE_DIR=./runtime_data
PPAI_REQUIREMENTS_DIR=./runtime_data/requirements
PPAI_KNOWLEDGE_DIR=./runtime_data/knowledge
PPAI_GENERATED_DIR=./runtime_data/generated
PPAI_HEALING_MEMORY_DIR=./runtime_data/healing_memory
PPAI_LOG_LEVEL=INFO
